---
import CardFeature from '../components/CardFeature/CardFeature.astro'
import PostList from '../components/PostList/PostList.astro'
import Sidebar from '../components/SideBar/SideBar.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Frontend Mentor | News homepage'>
	<div class="grid grid-cols-1 lg:grid-cols-10 gap-4 lg:gap-4">
		<div class="col-span-1 lg:col-span-7 lg:row-span-5 mb-4 lg:mb-0">
			<CardFeature
				href="#"
				textButton='Read More'
				title="The Bright Future of Web 3.0?"
				body="We dive into the next evolution of the web that claims to put the power of tthe platforms back into the hands of the people. But is it really fulfiling its promise?"
				imageXL="/img/image-web-3-desktop.jpg"
				imageXS="/img/image-web-3-mobile.jpg"
			/>
		</div>

		<Sidebar />

		<PostList />
	</div>
</Layout>
