---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<main class='bg-black'>
		<h1 class='text-3xl font-bold underline'>
      Welcome to <span class='text-gradient'>Astro</span>
		</h1>
	</main>
</Layout>
