
<div class="attribution text-neutral-dark dark:text-neutral-white py-8">
	Challenge by <a class="text-neutral-dark-grayish font-bold dark:text-neutral-grayish" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
	Coded by <a class="text-neutral-dark-grayish font-bold dark:text-neutral-grayish" href="https://github.com/Herald-Flores" aria-label="Herald Flores Github profile">Herald Flores</a>.
</div>
<style>
	.attribution { font-size: 11px; text-align: center; }
</style>
