---
import Attribution from './Attribution.astro'
import DarkIcon from './Components/DarkIcon.astro'
import LightIcon from './Components/LightIcon.astro';

---


<footer class="relative">
	<button id="theme-toggle" data-theme-toggle aria-label="Toggle Theme" class="text-neutral-white transition-all duration-500 hover:text-neutral-dark bg-neutral-dark hover:bg-neutral-grayish focus:outline-none text-sm p-2 flex justify-center items-center rounded-full fixed bottom-4 right-2 z-50" transition:persist>
		<DarkIcon aria-hidden="true" alt="Dark Theme Icon" />
		<LightIcon aria-hidden="true" alt="Light Theme Icon" />
	</button>

	<Attribution />
</footer>

