---
interface Props {
	id: number;
  title: string;
  body: string;
}

const {id, title, body} = Astro.props;
---

<li>
	<a href="#" class="block max-w-sm px-0 pb-3 pt-5">
		<h5 class="mb-2 text-xl font-bold tracking-tight text-neutral-white dark:text-neutral-dark hover:text-primary">
			{title}
		</h5>
		<p class="font-normal text-neutral-grayish dark:text-neutral-dark-grayish">
			{body}
		</p>
	</a>
</li>
